<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WoodLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<script type="text/javascriptxt">
    $( document ).ready(() -> {
        $('select.form-control').combobox();
    });

</script>
<div class="col-xs-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/admin">Admin console</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/admin/client">Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/address">Address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/product">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category">Product category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order">Orders</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <button class="btn btn-primary col-3" onclick="window.location='/admin/product'">Cancel</button>
    <form th:action="@{/admin/product/create}" method="post" th:object="${product}">
        <div class="form-group col-3">
            <label for="name">name</label>
            <input class="form-control" id="name" name="name" rows="3" placeholder="name" ></input>
        </div>
        <div class="form-group col-3">
            <label for="price">price</label>
            <input class="form-control" id="price" name="price" rows="3" placeholder="price"></input>
        </div>
        <div class="form-group col-3">
            <label for="productCategory">productCategory</label>
            <select class="form-control" id="productCategory" name="productCategory" th:field="*{categoryId}" >
                <option value=""> -- </option>
                <option th:each="category : ${categories}"
                        th:value="${category.productCategoryId}"
                        th:text="${category.name}"/>
            </select>
<!--            <input class="form-control" id="productCategory" name="productCategory" rows="3" placeholder="productCategory"></input>-->
        </div>
        <div class="form-group col-3">
            <label for="weight">weight</label>
            <input class="form-control" id="weight" name="weight" rows="3" placeholder="weight"></input>
        </div>
        <div class="form-group col-3">
            <label for="volume">volume</label>
            <input class="form-control" id="volume" name="volume" rows="3" placeholder="volume"></input>
        </div>
        <div class="form-group col-3">
            <label for="quantityInStock">quantityInStock</label>
            <input class="form-control" id="quantityInStock" name="quantityInStock" rows="3" placeholder="quantityInStock"></input>
        </div>

        <input type="submit" class="btn btn-primary col-3" value="Create">
    </form>
</div>
</body>
</html>