<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WoodLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="col-xs-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/admin">Admin console</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/admin/client">Client</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/address">Address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/product">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category">Product category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order">Orders</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <button class="btn btn-primary col-3" onclick="window.location='/admin/product'">Cancel</button>
    <form th:action="@{/admin/category/update}" method="post" th:object="${category}">
        <div class="form-group col-3">
            <label for="Id">Id</label>
            <input class="form-control" id="Id" name="productCategoryId" rows="3" placeholder="Id" th:value="${category.getProductCategoryId()}" readonly></input>
        </div>
        <div class="form-group col-3">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" rows="3" placeholder="name" th:value="${category.getName()}"></input>
        </div>
        <div class="form-group col-3">
            <label for="parentId">Parent Id</label>
            <select class="form-control" id="parentId" name="parentId" th:value>
                <option
                        th:value="${parent.productCategoryId}",
                        th:text="${parent} ? ${parent.name} : 'not specified'" />
                <option th:each="productCategory : ${root}"
                        th:value="${productCategory.productCategoryId}"
                        th:text="${productCategory.name}"/>
            </select>
        </div>
        <div class="form-group col-3">
            <label for="characteristics">Characteristics</label>
            <input class="form-control" id="characteristics" name="characteristics" rows="3" placeholder="characteristics" th:value="${category.getCharacteristics()}"></input>
        </div>
        <input type="submit" class="btn btn-primary col-3" value="Update">
    </form>
</div>
</body>
</html>