<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form th:action="@{/test}" method="post" th:object="${products}">
        <table class="table table-hover table-inverse">
            <thead>
            <tr>
                <th>str</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td>
                    <input type="text" th:name="${products}"  th:value="${products.get(products.indexOf(product)).getName()}">
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary col-3" value="update products in order"></input>
    </form>
</body>
</html>