<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WoodLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

        <div class="col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <a class="navbar-brand" href="/admin">Admin console</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/client">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/address">Address</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/product">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/category">Product category</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <a class="btn btn-dark"  href="address/create" role="button">Add new address</a>
        <table class="table table-hover table-inverse">
            <thead>
            <tr>
                <th>Address Id</th>
                <th>Country</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Street</th>
                <th>Building</th>
                <th>Apartments</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${addresses}">
                <td>
                    <a th:href="@{/admin/address/update(addressId=${address.getAddressId()})}">
                        <span th:text="${address.getAddressId()}"/>
                    </a>
                </td>
                <td th:text="${address.getCountry()}"/>
                <td th:text="${address.getCity()}"/>
                <td th:text="${address.getZipCode()}"/>
                <td th:text="${address.getStreet()}"/>
                <td th:text="${address.getBuilding()}"/>
                <td th:text="${address.getApartments()}"/>
                <td >
                    <a th:href="@{delete(id=${address.getAddressId()})}">
                        <span>
                            delete
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
</body>
</html>