<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/admin/address/create}" method="post" th:object="${address}">
    <div class="form-group col-3">
        <label for="firstName">First name</label>
        <input class="form-control" id="firstName" name="FirstName" rows="3" placeholder="Enter your first name" ></input>
    </div>
    <div class="form-group col-3">
        <label for="lastName">Last name</label>
        <input class="form-control" id="lastName" name="LastName" rows="3" placeholder="Enter your last name"></input>
    </div>
    <div class="form-group  col-3">
        <label for="dateOfBirth">Enter birthdate:</label>
        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth">
    </div>
    <div class="form-group  col-3">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter email" name="email" th:value>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group col-3">
        <label for="exampleInputPassword1" >Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" th:value>
    </div>
    <input type="submit" class="btn btn-primary col-3" value="Create">
</form>
</body>
</html>