<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/admin/client/create}" method="post" th:object="${client}">
    <div class="form-group col-3">
        <label for="firstName">First name</label>
        <input class="form-control" id="firstName" name="FirstName" rows="3" placeholder="Enter your first name" ></input>
    </div>
    <div class="form-group col-3">
        <label for="lastName">Last name</label>
        <input class="form-control" id="lastName" name="LastName" rows="3" placeholder="Enter your last name"></input>
    </div>
    <div class="form-group  col-3">
        <label for="dateOfBirth">Enter birthdate:</label>
        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth">
    </div>
    <table class="table table-hover table-inverse">
        <thead>
        <tr>


            <th>email</th>
            <th>password</th>
            <th>address</th>
        </tr>
        </thead>
        <tbody>




        <td >
            <input type="email" name="email">
        </td>
        <td >
            <input type="text" name="Password" >
        </td>
        <td>
            <input type="text" name="addressId" >
        </td>
        </tbody>
    </table>
    <input type="submit" value="Create">
</form>
</body>
</html>