<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/admin/address/create}" method="post" th:object="${address}">
    <div class="form-group col-3">
        <label for="addressId">First name</label>
        <input class="form-control" id="addressId" name="addressId" rows="3" placeholder="addressId" ></input>
    </div>
    <div class="form-group col-3">
        <label for="city">Last name</label>
        <input class="form-control" id="city" name="city" rows="3" placeholder="country"></input>
    </div>
    <div class="form-group col-3">
        <label for="zipCode">Last name</label>
        <input class="form-control" id="zipCode" name="zipCode" rows="3" placeholder="country"></input>
    </div>
    <div class="form-group col-3">
        <label for="street">Last name</label>
        <input class="form-control" id="street" name="street" rows="3" placeholder="country"></input>
    </div>
    <div class="form-group col-3">
        <label for="building">Last name</label>
        <input class="form-control" id="building" name="building" rows="3" placeholder="country"></input>
    </div>
    <div class="form-group col-3">
        <label for="apartments">Last name</label>
        <input class="form-control" id="apartments" name="apartments" rows="3" placeholder="country"></input>
    </div>

    <input type="submit" class="btn btn-primary col-3" value="Create">
</form>
</body>
</html>