<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <table class="table table-hover table-inverse">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>dateOfBirth</th>
            <th>email</th>
            <th>password</th>
            <th>address</th>
        </tr>
        </thead>
        <tbody>
            <form action="/client/create" method="post">
                    <td>
                        <input type="text" name="FirstName"  th:value="${client.getFirstName()}"></input>
                    </td>
                    <td utext="${client.getLastName()}">
                        <input type="text" name="LastName" th:value="${client.getLastName()}">
                    </td>
                    <td utext="${client.getDateOfBirth()}">
                        <input type="date" name="DateOfBirth" th:value="${client.getDateOfBirth()}">
                    </td>
                    <td utext="${client.getEmail()}">
                        <input type="email" name="email" th:value="${client.getEmail()}">
                    </td>
                    <td utext="${client.getPassword()}">
                        <input type="text" name="Password" th:value="${client.getPassword()}">
                    </td>
                    <td utext="${client.getAddressId()}">
                        <input type="text" name="AddressId" th:value="${client.getAddressId()}">
                    </td>
                    <br><br>
                <input type="submit" value="Create">
            </form>
        </tbody>
    </table>
</body>
</html>