<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

        <div class="col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <a class="navbar-brand" href="/admin">Admin console</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/client">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/address">Address</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Product category</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <a class="btn btn-dark"  href="/admin/client/create" role="button">Add new client</a>
        <table class="table table-hover table-inverse">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>dateOfBirth</th>
                <th>email</th>
                <th>address</th>
                <th>delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td>
                    <a th:href="@{/admin/client/clientUpdate(id=${client.getClientId()})}">
                        <span th:text="${client.getFirstName()}"/>
                    </a>
                </td>
                <td th:utext="${client.getLastName()}"/>
                <td th:utext="${client.getDateOfBirth()}"/>
                <td th:utext="${client.getEmail()}"/>
                <td th:utext="${client.getAddressId()}"/>
                <td >
                    <a th:href="@{/admin/client/delete(id=${client.getClientId()})}">
                        <span>
                            delete
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
</body>
</html>