<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form th:action="@{/admin/client/update}" method="post" th:object="${client}">
    <table class="table table-hover table-inverse">
        <thead>
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>dateOfBirth</th>
            <th>email</th>
            <th>password</th>
            <th>address</th>
        </tr>
        </thead>
        <tbody>
            <th utext="${client.getClientId()}">
                <input type="text" name="clientId" th:value="${client.getClientId()}"></input>
            </th>
            <td>
                <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{companyName}"></p>
                <input type="text" name="FirstName" th:field="*{firstName}"/>
            </td>
            <td utext="${client.getLastName()}">
                <input type="text" name="LastName" th:value="${client.getLastName()}">
            </td>
            <td>
                <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="text-danger"></span>
                <input type="text" th:field="*{dateOfBirth}"/>
            </td>
            <td utext="${client.getEmail()}">
                <input type="email" name="email" th:value="${client.getEmail()}">
            </td>
            <td utext="${client.getPassword()}">
                <input type="text" name="Password" th:value="${client.getPassword()}">
            </td>
            <td>
                <input type="text" name="addressId" th:value="${client.getAddressId()}">
            </td>
        </tbody>
    </table>
    <input type="submit" value="Update">
</form>
</body>
</html>