<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addProduct" method="get">
    Product name:<br>
    <input type="text" name="name" value="name">
    <br><br>
    Product price:<br>
    <input type="text" name="name" value="price">
    <br><br>
    Product category:<br>
    <input type="text" name="name" value="productCategory">
    <br><br>
    Product weight:<br>
    <input type="text" name="name" value="weight">
    <br><br>
    Product volume:<br>
    <input type="text" name="name" value="volume">
    <br><br>
    Product quantityInStock:<br>
    <input type="text" name="name" value="quantityInStock">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>