<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <table class="table table-hover table-inverse">
        <thead>
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>dateOfBirth</th>
            <th>email</th>
            <th>password</th>
            <th>address</th>
        </tr>
        </thead>
        <tbody>
        <script language="javascript">
            var myDictionary = [];
            myDictionary["id"] = "231";
            myDictionary["clientId"] = "231";
        </script>
        <tr th:each="client : ${clients}" onclick="post(1,'/client/update/')">
            <th  th:utext="${client.getClientId()}"/>
            <td th:utext="${client.getFirstName()}"/>
            <td th:utext="${client.getLastName()}"/>
            <td th:utext="${client.getDateOfBirth()}"/>
            <td th:utext="${client.getEmail()}"/>
            <td th:utext="${client.getPassword()}"/>
            <td th:utext="${client.getAddressId()}"/>
        </tr>
        </tbody>
        <script language="javascript">
            function post(dictionary, url, method) {
            method = method || "post"; // post (set to default) or get

            // Create the form object
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", url);


            for (key in dictionary) {

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", dictionary[key]);
            // append the newly created control to the form
            form.appendChild(hiddenField);
            }

            document.body.appendChild(form); // inject the form object into the body section
            form.submit();
            }
        </script>
    </table>
</body>
</html>