<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<p th:text="'add'"/>
<form action="/product/add" method="post">
    Name:<br>
    <input type="text" name="name" value="param">
    <br><br>
    Price:<br>
    <input type="text" name="price" value="param">
    <br><br>
    Product Category:<br>
    <input type="text" name="productCategory" value="param">
    <br><br>
    Weight:<br>
    <input type="text" name="weight" value="param">
    <br><br>
    Volume:<br>
    <input type="text" name="volume" value="param">
    <br><br>
    Quantity in stock:<br>
    <input type="text" name="quantityInStock" value="param">
    <br><br>
    <input type="submit" value="Add">
</form>

<br><br><br><br>
<p th:text="'delete'"/>
<form action="/product/delete" method="get">

    Id of product to delete:<br>
    <input type="text" name="id" value="param">
    <br><br>
    <input type="submit" value="Delete">
</form>

<br><br><br><br>
<p th:text="'update'"/>
<form action="/product/update" method="post">
    ID:<br>
    <input type="text" name="id" value="param">
    <br><br>
    Name:<br>
    <input type="text" name="name" value="param">
    <br><br>
    Price:<br>
    <input type="text" name="price" value="param">
    <br><br>
    Product Category:<br>
    <input type="text" name="productCategory" value="param">
    <br><br>
    Weight:<br>
    <input type="text" name="weight" value="param">
    <br><br>
    Volume:<br>
    <input type="text" name="volume" value="param">
    <br><br>
    Quantity in stock:<br>
    <input type="text" name="quantityInStock" value="param">
    <br><br>
    <input type="submit" value="Update">
</form>

<br><br><br><br>
<form action="/product/find" method="get">

    <p th:text="'Find by ID'"/>
    ID:<br>
    <input type="text" name="id" value="param">
    <input type="submit" value="Find ">
</form>

<br><br><br><br>
<form action="/product/findAll" method="get">

    <p th:text="'Return list of all products'"/>
    <input type="submit" value="Find ">
</form>
</body>
</html>