<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body" >
                <h5 class="card-title">products</h5>
                <p class="card-text">editing products</p>
                <form action="/product/">
                    <input type="submit" value="Edit products">
                </form>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body" >
                <h5 class="card-title">Clients</h5>
                <p class="card-text">editing clients</p>
                <form action="/client/">
                    <input type="submit" value="Edit clients">
                </form>
            </div>
        </div>
    </div>

</body>
</html>